@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text"/>
    <button type="button" id="btnAuthorization"  onClick="fnAuthorizeKey()">authorization-key</button>
	<button type="button" id="btnLanguage"  onClick="fnLanguageKey()">language-key</button>
	<button type="button" id="btnOther"  onClick="fnOtherKey()">other-key</button>
    <br/>
 <iframe runat="server" id="ifrDisplay" width="1000" height="1000" src="http://localhost:3000" onload="onIframeLoader()"></iframe>
</div>
<script type="text/javascript">
     const domains = [
  "https://localhost:3000",
  "http://localhost:3000",
  "https://localhost:5001",
  "http://localhost:24964/",
]
const domain = 'http://localhost:3000';

function onIframeLoader(){
	   fnAuthorizeKey();
	  fnLanguageKey();
	  fnOtherKey();
};
     window.onload = function(){
   //   fnAuthorizeKey();
	  //fnLanguageKey();
	  //fnOtherKey();
     }
	 window.addEventListener("message", messageHandler, false);
	 function messageHandler(event) {
        var origin = event.origin;
        if(!domains.includes(origin)) {
            alert('error' + origin);
            return;
        }
        //else{  alert('pass' + origin);}
        const { action, status, value } = event.data
        console.log('action '+JSON.stringify( event.data));
        if ( action == 'authorizationKey'){
            //alert(value);
            LocalStorageSet("authorizationKey",value);
        }
       else  if ( action == 'languageKey'){
            //alert(value);
            LocalStorageSet("languageKey",value);
        }
       else if ( action == 'othernKey'){
            //alert(value);
            LocalStorageSet("othernKey",value);
        }
	 else if ( action == 'childlessness'){
            //alert(value);
           console.log(`${action} -- ${value}`);
		   redirectToUrl(uuidv4());
        }
    }
function fnAuthorizeKey() {
	try {

		const iframe = document.getElementById('ifrDisplay');
		var message = uuidv4();
		iframe.contentWindow.postMessage({
			action: 'authorizationKey',
			key: 'authorizationKey',
			value: message
		},domain);
	} catch (error) {
		alert(error);
	}
}
function fnLanguageKey() {
	try {

		const iframe = document.getElementById('ifrDisplay');
		var message = uuidv4();
		iframe.contentWindow.postMessage({
			action: 'languageKey',
			key: 'languageKey',
			value: message
		},domain);
	} catch (error) {
		alert(error);
	}
}
function fnOtherKey() {
	try {

		const iframe = document.getElementById('ifrDisplay');
		var message = uuidv4();
		iframe.contentWindow.postMessage({
			action: 'othernKey',
			key: 'othernKey',
			value: message
		},domain);
	} catch (error) {
		alert(error);
	}
}
function redirectToUrl(id)
{
	window.location.href = '@Url.Action("get", "index1")/' + id;
   //$.ajax({
   //   url: 'testpage',
   //   data: { key: id  }
   //}).done(function() {
   //   alert('Added'); 
   //});
}

function uuidv4() {
  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    return v.toString(16);
  });
}


</script>
